body {
  /* background-color: gray; */
  background-image: url('./assets/background.jpg');
  background-size: 1400px ;
}

.nav-background-image {
  /* background-image: url('./assets/atlutd_flag.jpg'); */
  background-color: #75010b;
}

.contianer {
  display: flex;
}

